{% extends 'main.html' %}

{% block content %}

    <p>Hello you are on the {{ page }} page</p>

    {% if number > 10 %}
        <p>The number is greater than 10</p>
    {% elif number == 10 %}
        <p>Number is equal to 10</p>
    {% else %}
        <p>The number is less than 10</p>
    {% endif %}

    <hr>
    <h1>Projects</h1>

    <ul>
        {% for project in projects %}
            <li><a href="{% url 'project' project.id %}">{{ project.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}